@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

:root {
	  --bg-primary: #1a1a1a;
	  --bg-secondary: #2d2d2d;
	  --accent: #3b82f6;
	  --text-primary: #f8fafc;
	  --text-secondary: #cbd5e1;
	}

* {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  /* border: 1px solid black; */
}

.main-content {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* header section */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.18em;
  margin: 18px;
  /* margin: 22px; */
}

.search-form {
  margin: 10px;
  border-radius: 6px;
  display: flex;
  height: 40px;
}

.search-form:focus-within {
  outline: 1px solid var(--accent);
}

#search-input {
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
  border: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  margin: 0;
  padding: 8px;
  font-size: 0.92em;
}

#search-input:focus {
  outline: none;
}

.search-btn {
  background-color: var(--bg-secondary);
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin: 0 0 0 -6px;
  padding: 8px;
  cursor: pointer;
}

.search-svg {
  background-color: #2d2d2d;
}

.temp-convert {
  display: flex;
  gap: 6px;
  margin: 16px;
}

.temp-button {
  font-size: 0.92em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-secondary);
  border: none;
  border-radius: 26px;
  width: 48px;
  height: 34px;
  padding: 8px;
  cursor: pointer;
}

.active {
  border: 2px solid var(--accent);
  /* background-color: #3b82f6; */
}

/* current weather */

.current-weather {
  background-color: #2d2d2d;
  border: 3px solid #2d2d2d;
}